<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" preserve-order="true">
    <test thread-count="1" name="On Source activity" preserve-order="true">
        <classes>
            <class name="demo.CnCreation">
                <methods>
                    <include name="getToAddress"></include>
                    <include name="fromToAddress"></include>
                    <include name="cnCreation"></include>
                    <include name="markedReached"></include>
                    <include name="prsUnloading"></include>
                  </methods>
            </class>
        </classes>
    </test>
</suite>